
.hub-page {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
    background: #1e1e1e;
    .top-head {
        display: flex;
        justify-content: space-between;
        h1 {
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 10px;
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #616161;
        }
        .search-field {
            position: relative;
            input {
                width: 118px;
                height: 36px;
                border: 1px solid #898989;
                border-radius: 55px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                background: transparent;
                padding-left: 34px;
                color: #fff;
                outline: none !important;
            }
            .icon-search {
                color: #898989;
                position: absolute;
                top: 10px;
                left: 15px;
                font-size: 13px;
            }
        }
    }
    h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: 0;
    }
    .sub-header {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .filter-section {
            display: flex;
            justify-content: flex-end;
            font-weight: 500;
            font-size: 18px;
            color: #898989;
            p {
                margin-left: 25px;
                margin-bottom: 0;
            }
            label {
                margin-bottom: 0;
            }
            margin-right:10px;
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked+label,
            [type="radio"]:not(:checked)+label {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #898989
            }
            [type="radio"]:checked+label {
                color: #fff;
            }
            [type="radio"]:checked+label:before,
            [type="radio"]:not(:checked)+label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #00F6B4;
                border-radius: 100%;
                background: transparent;
            }
            [type="radio"]:checked+label:after,
            [type="radio"]:not(:checked)+label:after {
                content: '';
                width: 5px;
                height: 5px;
                background: #00F6B4;
                position: absolute;
                top: 7px;
                left: 7px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked)+label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked+label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
    .project-table {
        border-collapse: separate;
        border-spacing: 0 10px;
        tr {
            th {
                border: none !important;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                color: #464646;
                padding-bottom: 0;
                &:nth-last-child(2) {
                    text-align: right;
                }
            }
            td {
                border: none;
                background: #2A2A2A;
                color: #fff;
                height: 72px;
                vertical-align: middle;
                font-weight: normal;
                font-size: 16px;
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    font-weight: 500;
                    padding: 8px;
                }
                &:nth-child(2),
                &:first-child {
                    font-size: 18px;
                }
                &:nth-last-child(2) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    width: 138px;
                    text-align: right;
                }
                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 30px;
                }
                .icon-long-right-arrow {
                    margin-top: 4px;
                    margin-left: 7px;
                    margin-right: 7px;
                }
                .icon-ellipsis-v {
                    color: #898989;
                    font-weight: 300;
                    font-size: 30px;
                }
            }
            &:hover {
                td {
                    background: #000000;
                    .icon-ellipsis-v {
                        color: #00F6B4;
                    }
                }
            }
            .title-td {
                align-items: center;
                span {
                    margin-left: 15px;
                }
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;
                }
            }
            .colblab-td {
                align-items: center;
                span {
                    margin-left: 15px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-left: -20px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .mobile-view {
        margin-bottom: 30px;
        .dropdown-menu{
            left: auto !important;
            right: 0 !important;
            .dropdown-item{
                color: #fff !important;
                background: transparent !important;
            }
        }
        .btn-secondary{
            background-color: transparent !important;
            border-color: transparent !important;
            padding-bottom: 0;
        }
        .row {
            .col {
                padding-bottom: 20px;
                &:nth-child(odd) {
                    padding-right: 8px;
                }
                &:nth-child(even) {
                    padding-left: 8px;
                }
            }
        }
        .card {
            margin-right: 0;
            margin-bottom: 0;
            border-width: 0;
            height: 100%;
            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &:hover {
                background: #000000;
                .icon-ellipsis-v {
                    color: #00F6B4;
                }
            }
            .card-body {
                padding: 16px 10px 0 16px;
                p {
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    &:nth-child(2) {
                        font-weight: 500;
                    }
                }
                p:nth-child(odd) {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.05em;
                    color: #464646;
                    margin-bottom: 5px;
                }
            }
            .icon-ellipsis-v {
                font-weight: 300;
                font-size: 30px;
                line-height: 40px;
                color: #898989;
            }
        }
    }
}

.status-custom {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #00F6B4;
    position: relative;
    text-transform: uppercase;
    &:after {
        content: '';
        position: absolute;
        left: -8px;
        width: 3px;
        height: 3px;
        background: #00F6B4;
        border-radius: 50%;
        top: 11px;
    }
}

.offline {
    color: #2F2BE0;
    &:after {
        background: #2F2BE0;
    }
}

.disturb {
    color: #E64253;
    &:after {
        background: #E64253;
    }
}
.dropdown-overlay{
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.table-dropdown {
    .btn-group {
        .btn{
            background: transparent;
            border: none;
            z-index: 99;
        }
        .dropdown-menu {
            width: 150px !important;
            left: -21px !important;
            background: #000000;
            border-radius: 5px;
            top: -43px !important;
            z-index: 0;
            transform: translate3d(-89px, 37px, 0px) !important;
            .dropdown-item{
                color: #fff;
                border: none !important;
                background: transparent !important;
                outline: none !important;
                &:hover{
                    background: transparent;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .hub-page {
        padding-left: 15px;
        padding-right: 15px;
        h2 {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
        .top-head {
            h1 {
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
            }
            p {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
            }
            .search-field {
                input {
                    width: 86px;
                    height: 24px;
                    font-size: 11px;
                    padding-left: 24px;
                }
                .icon-search {
                    top: 8px;
                    font-size: 10px;
                    left: 10px;
                }
            }
        }
        .sub-header {
            margin-top: 0;
            margin-bottom: 10px;
            display: block;
            .filter-section {
                justify-content: normal;
                margin-top: 10px;
                margin-right:0;
                p {
                    margin-left: 0;
                    width: 33.33%;
                    margin: 6px 0px;
                    &:nth-child(2) {
                        text-align: center;
                    }
                    &:nth-child(3)  {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media(max-width: 465px) {
    .hub-page {
        .mobile-view {
            .card {
                .icon-ellipsis-v {
                    font-size: 20px;
                    position: absolute;
                    top: 11px;
                    right: 5px;
                }
            }
        }
    }
    .hub-page {
        .mobile-view {
            .card {
                .card-body {
                    position: relative;
                }
            }
        }
    }
}

.mobile-upcoming{
    flex-wrap: wrap;
    i{
        display: block;
        margin: 4px;
    }
}

.table-dropdown .btn-group  .suMenuDropdownMyNetwork.dropdown-menu{
    width: 230px !important;
    left: -93px !important;
}