.edit-profile-btn{
    width: 158px !important;
    height: 42px !important;
    .inner-module{
        span{
            justify-content: center;
            align-items: center;
        }
    }
}