.hub-home{
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: hidden;
    background: #1e1e1e;
    .top-head {
        display: flex;
        justify-content: space-between;
        h1 {
            color: #fff;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 10px;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #616161;
        }
        .search-field {
            position: relative;
            input {
                width: 118px;
                height: 36px;
                border: 1px solid #898989;
                border-radius: 55px;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                background: transparent;
                padding-left: 34px;
                color: #fff;
                outline: none !important;
            }
            .icon-search {
                color: #898989;
                position: absolute;
                top: 10px;
                left: 15px;
                font-size: 13px;
            }
        }
    }
    h2{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: 0;

    }
}
.sub-header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .filter-section{
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        font-size: 18px;
        color: #898989;
            p{
                margin-left: 25px;
                margin-bottom: 0;
            }
            label{
                margin-bottom: 0;
            }
            margin-right:10px;
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked + label,
            [type="radio"]:not(:checked) + label
            {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
            }
            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #00F6B4;
                border-radius: 100%;
                background: transparent;
            }
            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 5px;
                height: 5px;
                background: #00F6B4;
                position: absolute;
                top: 7px;
                left: 7px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
 